h1 {
    color: white;
}

#japan {
    height: 300px;
    width: 500px;
    background-color: white;
    position: relative;
}

#circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 100px;
}
