* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* used for visualization (3D) */
    perspective: 800px;
}

.box {
    height: 150px;
    width: 150px;
    background-color: orange;

    transition: all 3s;
    font-size: 30px;

    animation-name: moving;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}