* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    background-color: orange;

    /* transition-property: background-color; */
    /* transition-property: width; */
    /* transition-property: height; */
    transition-property: all;
    /* transition-duration: 3s; */

    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-out; */
    /* transition-timing-function: linear; */
    /* transition-delay: 1s; */

    /* short hand property */
    transition: all 3s linear 1s;
}

.box:hover {
    background-color: purple;
    width: 300px;
    height: 300px;
}