h1 {
    color: white;
}

#laos {
    height: 300px;
    width: 500px;
    background-color: rgba(20, 20, 133, 0.838);
    position: relative;
}

.first, .second {
    height: 80px;
    width: 500px;
    background-color: rgb(183, 32, 32);
}

.second {
    position: absolute;
    bottom: 0px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 100px;
}