h1 {
    color: white;
}

#sweden {
    height: 300px;
    width: 500px;
    background-color: rgb(50, 77, 128);
    position: relative;
}

#line1 {
    height: 300px;
    width: 50px;
    background-color: yellow;
    position: absolute;
    left: 100px;

}

#line2 {
    height: 50px;
    width: 500px;
    background-color: yellow;
    position: absolute;
    top: 125px;
}

/* ------------------------------------------------------------ */

#container {
    height: 300px;
    width: 500px;
    background-color: yellow;
    position: relative;
}

.box {
    box-sizing: border-box;
    background-color: rgb(50, 77, 128);
}

.first, .third {
    height: 125px;
    width: 100px;
}

.third {
    position: absolute;
    bottom: 0px;
}

.second, .fourth {
    height: 125px;
    width: 350px;
    position: absolute;
}

.second {
    top: 0px;
    right: 0px;
}

.fourth {
    bottom: 0px;
    right: 0px;
}