h1 {
    background-color: gray;
}

/* .classA {
    background-color: aqua;
} */

/* #firstId {
    background-color: pink;
} */

/* #firstId {
    background-color: pink;
    background-color: blueviolet;
} */

/* h1 {
    background-color: pink;
}

h2 {
    background-color: wheat !important;
} */

#firstId {
    background-color: pink;
}