/* Tag Element selector  */
/* h1 {
    background-color: darkorchid;
}

h2 {
    background-color: darkgreen;
}

ul {
    background-color: darkseagreen;
} */


/* Id based selector  */
/* #first {
    background-color: blueviolet;
}


#second {
    background-color: darkcyan;
} */


/* Class based selector  */
/* .third {
    background-color: grey;
} */


/* Group based selector  */
/* h1, .fourth, #second {
    background-color: darkorange;
} */


/* h1 { 
    background-color: rgba(88, 168, 141);
}  */
h1 { 
    background-color: rgba(88, 168, 141, 0.628);
}

/*   R    G    B   transparency(alpha)
rgba(88, 168, 141, 0.628) */

 /* Range of RGB:
R (0-255)
G (0-255)
B (0-255) 
transparency (0-1) */

/* h2 {
    background-color: hsl(0, 35%, 50%);
} */
/* h2 {
    background-color: hsl(0, 35%, 50%, 0.7);
} */

/* h2 {
    background-color: #ff5733;
} */

/* FONT  */
h1 {
    font-size: 60px;  /*px : picture element */
}

ul {
    font-size: 20px;
}

li {
    font-size: 1em;  /* em : relative to parent element */
}

/* h2 {
    font-size: 2rem;  /* rem : relative to root element */
} */

/* h2 {
    font-size: 2vw;  /* vw : relative to viewport width */
} */

/* h2 {
    font-size: 2vh;  /* vh : relative to viewport height */
} */

/* h2 {
    font-size: 50%;  /* % : relative to parent element */
} */

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h2 {
    .prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

}