/* The HTML <span> tag is an inline, generic container used to group or apply styles to a small portion of text or inline elements within a document. It does not inherently apply any visual styling or introduce line breaks, unlike block-level elements such as <div> or <p>.  */

/* Inline Element vs Block Element */
/* Inline -> anchor, span */
/* Block -> div, h1, h2,.., p */

/* Inline */
/* span {
    color: blue;  used to hightlight particular text
} */

/* Universal selector  */
/* 
* {
    margin: 0px;
    padding: 0px;
} */

/* Block */
h1 {
    background-color: aqua;
    height: 300px;
    width: 300px;
    /* padding: 30px;
    margin: 20px; */

    /* display: inline-block; */

    border: 10px solid red;
    padding: 20px;

    /* content-box = content-width = 300 */
    box-sizing: content-box;
}

/* Block element always start from new line  */

h2 {
    background-color: bisque;
    /* To make block element to inline element  */
    /* display: inline; */

    /* display: inline-block; */

    /* padding: 30px;
    margin: 20px; */

    height: 300px;
    width: 300px;
    border: 10px solid red;
    padding: 20px;

    /* border-box = border-width + padding-width + content-width = 300 */
    box-sizing: border-box; 
    
}

/* Inline */
/*2 Inline element start from where space is available */
/* 4. padding and margin apply only horizontal way not vertical in span  */
span {
    background-color: pink;
    /*3 height width not apply on span tag  */
    /* height: 300px;
    width: 300px; */

    /* padding: 20px;  only applies horizontal way  */
    /* margin: 20px;     only applies horizontal way */
    /* margin-top: 50px;  x */

    /* visually seen applied but actually not apply */
    /* padding-top: 50px;
    padding-bottom: 50px; */

    margin-bottom: 20px;  
    padding-left: 30px;
    margin-left: 30px;

    /* To make inline element to block element  */
    /* display: block; */

}

/* To make block element to inline element  */
/* display: inline */

/* To make inline element to block element  */
/* display: block */

/* this is hybrid mode.  */
/* display: inline-block; */