.container {
    background-color: antiquewhite;
    /* convert its child block to inline using flex  */
    display: flex;   
    width: 800px;

    /* by-default flex-direction is row */
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    height: 600px;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* justify-content work around main-axis  */ 
    /* main axis decide kon krega, aapka flex direction  */
    /* flex-direction: row;
    justify-content: center; */

    /* flex-direction: column; */
    /* justify-content: center; */

    /* align-items work around cross-axis */
     flex-direction: row;
    justify-content: center;
    align-items: center; 

    /* responsiveness */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */

    gap: 10px;

}

.box {
    height: 100px;
    width: 100px;
    /* margin: 5px; */
}

.first {
    background-color: red;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */

    /* main axis ke around v */
    /* flex-basis: 200px;   */
}

.second {
    background-color: chartreuse;
    /* flex-grow: 2; */
}

.third {
    background-color: blueviolet;
    /* flex-grow: 1; */
    /* align-self: flex-start; */
}

.fourth {
    background-color: orange;
}