/* default css : desktop first approach -> shrink*/
/* .container {
    height: 400px;
    width: 400px;
    background-color: bisque;
    font-size: 30px;
} */

/* @media screen and (max-width:900px) {
    .container {
        background-color: green;
    }
} */

/* @media screen and (max-width:700px) {
    .container {
        height: 300px;
        width: 300px;
        background-color: pink;
        font: 20px;
    }
}

@media screen and (max-width:900px) {
    .container {
        background-color: green;
    }
} */

/* @media screen and (min-width:800px) {
    .container {
        background-color: orange;
        font-size: 60px;
    }
}  */


/* mobile first approach -> expand */
.container {
    height: 400px;
    width: 400px;
    background-color: bisque;
    font-size: 30px;
}

@media screen and (min-width:600px) {
    .container {
        background-color: orange;
        font-size: 40px;
    }
} 

@media screen and (min-width:900px) {
    .container {
        background-color: green;
        font-size: 60px;
    }
} 