* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(97, 97, 167);
    height: 400px;
    width: 600px;
    display: flex;
    
}

.first {
    height: 400px;
    width: 300px;
    background-color: rebeccapurple;
    display: flex;
    
}

.second {
    height: 400px;
    width: 300px;
    background-color: red;
    display: flex;
    
}

.third {
    width: 150px;
    background-color: green;
}

.fourth {
    width: 150px;
    display: flex;
    flex-direction: column;
    
}

.five {
    width: 150px;
    background-color: orange;
}

.box2, .box3 {
    height: 33.3%;
}

.seven,.ten, .fourteen, .fifteen {
    background-color: green;
}

.eight  {
    background-color: orange;
}

.nine, .eleven {
    background-color: red;
}

.fourteen, .fifteen {
    width: 150px;
}